<style>
	div {
		-webkit-user-select: auto;
		-moz-user-select: auto;
		-ms-user-select: auto;
		user-select: auto;
	}

	.left_border_str {
		border-left: 10px solid #00b0ff;
	}

	.left_border_prt {
		border-left: 10px solid #ffb74d;
	}

	.left_border_dnt {
		border-left: 10px solid #efebe9;
	}

	.left_border_weak {
		border-left: 10px solid #999;
	}

	.active_tab {
		border-bottom: 5px solid #00b0ff;
		background: #f6f6f6;
	}
</style>

<span ng-show="loading">
	<div class="spinner">
		<div class="bounce1"></div>
		<div class="bounce2"></div>
		<div class="bounce3"></div>
	</div>
</span>

<div class="wrapper" ng-show="!loading">

	<div style="display: block; width: 22%; margin: 0 auto; z-index: 10000;" ng-show="success.message == 'Done'" class="w3-animate-top">
		<div class="alert alert-success alert-with-icon" data-notify="container" style="position: fixed; margin-top: 20px; width: 300px; text-align: center;">
			<i data-notify="icon" class="material-icons">check_circle</i>
			<span data-notify="message">Progress Saved !</span>
		</div>
	</div>

	<div style="display: block; width: 22%; margin: 0 auto; z-index: 10000;" ng-show="puttingType" class="w3-animate-top">
		<div class="alert alert-info alert-with-icon" data-notify="container" style="position: fixed; margin-top: 20px; width: 300px; text-align: center;">
			<i data-notify="icon" class="material-icons">cached</i>
			<span data-notify="message">Profile Saving... Please Wait !</span>
		</div>
	</div>

	<div style="display: block; width: 22%; margin: 0 auto; z-index: 10000;" ng-if="!online" class="w3-animate-top">
		<div class="alert alert-danger alert-with-icon" data-notify="container" style="position: fixed; margin-top: 20px; width: 300px; text-align: center;">
			<i data-notify="icon" class="material-icons">info</i>
			<span data-notify="message">Connection Error !</span>
		</div>
	</div>

	<div class="main-panel">
		<div style="text-align: center; margin-bottom: -20px;" class="panel panel-body row">
			<div class="col-md-12" style="text-align: center;">
				<b>Candidate Name:</b> {{user.personal_info.fullname}}
			</div>
		</div><br>
		<div class="content">
			<div class="container-fluid">
				<div class="container">
					<div class="row">
						<div style="margin: 20px auto 10px auto; text-align: center;" ng-init="menu = 0">
							<ul class="nav">
								<li ng-class="menu == 0 ? 'active_tab' : '' "><a href="" ng-click="menu = 0">Questionnaire Analysis</a></li>
								<li ng-class="menu == 1 ? 'active_tab' : '' "><a href="" ng-click="menu = 1">Trueself Profile View</a></li>
							</ul>
							<hr>
						</div>
					</div>
					<div style="margin: 0 auto;">

						<!--		TAB 0		-->
						<div id="page-content" style="margin-bottom: 30px;" ng-show="menu == 0">
							<!-- <button ng-click="downloadExcel()">Donwload polarities</button> -->
							<div class="row" ng-repeat="pol in user.polarities" ng-show="$even">

								<div class="col-md-3 row">
									<div class="col-md-12">
										<div class="progress">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
											 aria-valuemax="5" style="width: {{getStrengthValue(pol.polar_id, 0) * 10}}%" title="{{getStrengthValue(pol.polar_id, 0)}}">
												{{getStrengthValue(pol.polar_id, 0)}}
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-3 row" style="text-align: right;">
									<div class="col-md-12" style="font-weight: bold;">{{pol.strength}}</div>
								</div>

								<div class="col-md-3 row">
									<div class="col-md-12" style="font-weight: bold;">{{user.polarities[$index+1].strength}}</div>
								</div>

								<div class="col-md-3 row">
									<div class="col-md-12">
										<div class="progress">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
											 aria-valuemax="5" style="width: {{getStrengthValue(pol.polar_id, 1) * 10}}%" title="{{getStrengthValue(pol.polar_id, 1)}}">
												{{getStrengthValue(pol.polar_id, 1)}}
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

						<!--		TAB 1		-->
						<div id="page-content" style="margin-bottom: 30px;" ng-show="menu == 1">

							<div id="page-title">
								<h2><b>{{user.personal_info.fullname}}'s Trueself Profile</b></h2>
							</div>

							<div class="container">
								<link rel="stylesheet" type="text/css" href="./assets/pv.css">

								<div class="row">
									<div class="col-md-offset-2 col-md-2">

										<div class="panel">
											<div class="panel-heading" ng-class="'left_border_str'">
												Exhibit Strongly
											</div>
										</div>

									</div>

									<div class="col-md-offset-1 col-md-2">

										<div class="panel">
											<div class="panel-heading" ng-class="'left_border_prt'">
												Exhibit Partially
											</div>
										</div>

									</div>

									<div class="col-md-offset-1 col-md-2">

										<div class="panel">
											<div class="panel-heading" ng-class="'left_border_weak'">
												Exhibit Weakly
											</div>
										</div>

									</div>

								</div>

								<!--                                                    SECTION 1                                                          -->
								<div class="panel" style="width: 90%; margin: 20px auto;">
									<div class="panel-body" style="text-align:center; padding: 15px 5%;">
										<h2 id="page-title">
											<b>Professional Strengths</b>
										</h2>

										<h5 style="color: #444; padding: 20px; font-weight: bold;">{{user.profile.eachSectionStopReflect[0]}}</h5>

										<div class="row">
											<div class="col-md-4" ng-repeat="keys in user.polarities" ng-if="keys.strength_rating != 0" style="margin: 10px auto; padding: 10px; display: inline-block;">

												<div class="col-md-12 row" style="margin: 0 auto; border: 1px solid #ddd; border-radius: 25px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05); padding: 10px;">

													<div class="col-md-3" style="margin: auto 0;">
														<div class="c1002 small">
															<div class="c100 small" ng-class="(keys.strength_rating >= 0 && keys.strength_rating <= 0.5) ? 'p33 grey' : ((keys.strength_rating > 0.5 && keys.strength_rating <= 1) ? 'p66 orange' : 'p100 blue')">
																<span style="color: #777; font-weight: bold;">{{keys.strength_endorsement}}</span>
																<div class="slice">
																	<div class="bar"></div>
																	<div class="fill"></div>
																</div>
															</div>
														</div>
													</div>
													<div class="col-md-9" style="margin: auto 0;">
														<div class="col-md-12" style="font-size: 18px; font-weight: bold;">{{keys.strength}}</div>
														<div class="col-md-12">{{keys.mini_strengths[0].mini_statement}}</div>
													</div>

												</div>

											</div>
										</div>
									</div>
								</div>
								<!--                                                    SECTION 2                                                          -->
								<div class="panel" style="width: 90%; margin: 20px auto;">
									<div class="panel-body" style="text-align:center; padding: 15px 5%;">
										<h2 id="page-title">
											<b>Learning Needs</b>
										</h2>

										<h5 style="color: #444; padding: 20px; font-weight: bold;">{{user.profile.eachSectionStopReflect[1]}}</h5>

										<div class="row">
											<div class="col-md-4" ng-repeat="keys in user.polarities" ng-if="keys.learning_rating != 0" style="margin: 10px auto; padding: 10px; display: inline-block;">

												<div class="col-md-12 row" style="margin: 0 auto; border: 1px solid #ddd; border-radius: 25px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05); padding: 10px;">

													<div class="col-md-3" style="margin: auto 0;">
														<div class="c1002 small">
															<div class="c100 small" ng-class="(keys.learning_rating >= 0 && keys.learning_rating <= 0.5) ? 'p33 grey' : ((keys.learning_rating > 0.5 && keys.learning_rating <= 1) ? 'p66 orange' : 'p100 blue')">
																<span style="color: #777; font-weight: bold;">{{keys.learning_endorsement}}</span>
																<div class="slice">
																	<div class="bar"></div>
																	<div class="fill"></div>
																</div>
															</div>
														</div>
													</div>
													<div class="col-md-9" style="margin: auto 0;">
														<div class="col-md-12" style="font-size: 18px; font-weight: bold;">{{keys.learning}}</div>
														<div class="col-md-12">{{keys.mini_learnings[0].mini_statement}}</div>
													</div>

												</div>

											</div>
										</div>
									</div>

								</div>

								<div class="panel" style="width: 90%; margin: 20px auto;" ng-if="user.peer_reviews.length > 0">
									<div class="panel-body" style="padding: 15px 5%;">
										<span style="font-weight: bold; font-size: 17px;">Recommendations by Peer</span><br><br>
										<ul>
											<li ng-repeat="rec in user.peer_reviews" style="font-size: 16px; margin: 25px 0px;">
												<span style="font-weight: bold;">{{replaceWithName(rec.emailid)}} says -</span><br>
												" {{rec.recommendation}} "<br>
												<span style="float: right;"><i>- {{rec.last_modified | date:'medium'}}</i></span>
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div>

						<!--											END TABS												-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>